* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700;800&display=swap');

/* header section start here */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header span {
    font-size: 2em;
    font-weight: 700;
    padding: 10px 10px;
    color: white;
    background: #55d18cb8;
    border-radius: 25px;
}

section#section {
    background: #ddd;
}

/* header section ends here */

/* wr-wrapper start here */
container {
    width: 100%;
    height: 100vh;
    background: #2b323c;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container h1 {
    font-size: 4em;
    font-weight: 800;
}
/* wr-wrapper ends here */
